<div class="header-section flex-between ">

<div class="home-product">
<a class="home-button">Home</a>
<a routerLink="/product" class="product-button">Products</a>
</div>

<div class="logo-title">
<a class="title-text" routerLink="/">
ElsoooQ
</a>
</div>

<div class="cart-register flex-between ">
<a class="cart-button">
  <p>1</p>
  <img src="shopping-cart.png" alt="">
</a>
<a class="register-button">Register</a>
</div>

<button class="menu-button" (click)="toggleMenu()">
  <img src="menu.png" alt="">
</button>

</div>
<div *ngIf="isMenuOpen" class="menu-items">
    <a class="home-button" (click)="toggleMenu()">Home</a>
    <a class="product-button" (click)="toggleMenu()" routerLink="/product">Products</a>
      <a class="cart-button" (click)="toggleMenu()">
        <p>1</p>
        <img src="shopping-cart.png" alt="" class="cart-icon">
      </a >
      <a class="register-button" (click)="toggleMenu()">Register</a>
</div>