<app-header></app-header>

<div class="full-prouct-page">
  <div class="serch-section">
    <input type="text" />
  </div>

  <div class="category-section">
    <!-- for category -->
    <select name="" id="">
      <!-- @for() {
        
      } -->
    </select>
    <!-- for price -->
    <select name="" id="">
      <!-- @for() {
        
      } -->
    </select>
    <!-- for reviews -->
    <select name="" id="">
      <!-- @for() {
        
      } -->
    </select>
  </div>
  <div class="product-section">
    @for(product of products; track product.id){
    <div class="product-card">
      <a>
        <img class="product-card-image" src="{{product.thumbnail}}" alt="none" />
        
        <h5 class="product-card-title">{{ product.productName }}</h5>
        <span class="product-card-price">${{ product.price }}</span>
        <!-- <h3 class="product-card-category">{{product.categoryName}}</h3> -->
      </a>
    </div>
    }
  </div>
</div>
