@tailwind base;
@tailwind components;
@tailwind utilities;

/* =============================================================================
   PRIME ICONS
   ============================================================================= */
@import 'primeicons/primeicons.css';

/* =============================================================================
   GLOBAL RESETS
   ============================================================================= */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}