/* You can add global styles to this file, and also import other style files */
body {
  background-color: #3b3b3b;
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.not-dragable {
  -webkit-user-drag: none;
  user-drag: none;
}